DirectoryIndex index.html README.html
Redirect permanent /builds.html                 http://tomee.apache.org/download/index.html
Redirect permanent /tomcat.html                 http://openejb.apache.org/apache-tomee.html
Redirect permanent /3.0/tomcat.html             http://openejb.apache.org/apache-tomee.html
Redirect permanent /3.0/apache-tomee.html       http://openejb.apache.org/apache-tomee.html
Redirect permanent /3.0/tomee.html              http://openejb.apache.org/apache-tomee.html
Redirect permanent /download.html               http://openejb.apache.org/downloads.html
Redirect permanent /3.0/index.html              http://openejb.apache.org/documentation.html
Redirect permanent /design.html                 http://openejb.apache.org/dev/design.html
Redirect permanent /design_appserver.html       http://openejb.apache.org/dev/design-application-server.html
Redirect permanent /design_assembler.html       http://openejb.apache.org/dev/design-assembler.html
Redirect permanent /design_bmpcontainer.html    http://openejb.apache.org/dev/design-bmp-entitybean-container.html
Redirect permanent /design_classicassembler.html        http://openejb.apache.org/dev/design-classic-assembler.html
Redirect permanent /design_cmpcontainer.html    http://openejb.apache.org/dev/design-cmp-entitybean-container.html
Redirect permanent /design_configfactory.html   http://openejb.apache.org/dev/design-configuration-factory.html
Redirect permanent /design_container.html       http://openejb.apache.org/dev/design-container.html
Redirect permanent /design_intravm.html         http://openejb.apache.org/dev/design-local-server.html
Redirect permanent /design_novaconfig.html      http://openejb.apache.org/dev/design-nova-configuration-factory.html
Redirect permanent /design_openejb.html         http://openejb.apache.org/dev/design.html
Redirect permanent /design_rafpassivator.html   http://openejb.apache.org/dev/design-random-file-passivator.html
Redirect permanent /design_remoteserver.html    http://openejb.apache.org/dev/design-remote-server.html
Redirect permanent /design_resmanager.html      http://openejb.apache.org/dev/design-resource-manager.html
Redirect permanent /design_secservice.html      http://openejb.apache.org/dev/design-security-service.html
Redirect permanent /design_simplepassivator.html        http://openejb.apache.org/dev/design-simple-passivator.html
Redirect permanent /design_stfulcontainer.html  http://openejb.apache.org/dev/design-stateful-sessionbean-container.html
Redirect permanent /design_stfulpassivator.html http://openejb.apache.org/dev/design-passivation-strategy.html
Redirect permanent /design_stlesscontainer.html http://openejb.apache.org/dev/design-stateless-sessionbean-container.html
Redirect permanent /design_txservice.html       http://openejb.apache.org/dev/design-transaction-service.html
Redirect permanent /embedded-and-remotable.html http://openejb.apache.org/3.0/embedded-and-remotable.html

Redirect permanent /3.0/apache-tomee.html http://openejb.apache.org/apache-tomee.html
Redirect permanent /3.0/jpa-concepts.html http://openejb.apache.org/jpa-concepts.html


Redirect permanent /3.0/injection-of-entitymanager-example.html http://openejb.apache.org/examples-trunk/injection-of-entitymanager/README.html
Redirect permanent /3.0/simple-stateless-example.html           http://openejb.apache.org/examples-trunk/simple-stateless/README.html
Redirect permanent /3.0/stateless-session-beans.html            http://openejb.apache.org/examples-trunk/simple-stateless/README.html
Redirect permanent /3.0/injection-of-other-ejbs-example.html    http://openejb.apache.org/examples-trunk/injection-of-ejbs/README.html
Redirect permanent /3.0/simple-stateful-example.html            http://openejb.apache.org/examples-trunk/simple-stateful/README.html
Redirect permanent /3.0/testing-transactions-example.html       http://openejb.apache.org/examples-trunk/testing-transactions/README.html
Redirect permanent /3.0/injection-of-datasource-example.html    http://openejb.apache.org/examples-trunk/injection-of-datasource/README.html
Redirect permanent /3.0/injection-of-env-entry-example.html     http://openejb.apache.org/examples-trunk/injection-of-env-entry/README.html
Redirect permanent /3.0/ejb-21-compatibility-example.html       http://openejb.apache.org/examples-trunk/component-interfaces/README.html
Redirect permanent /3.0/testing-security-example.html           http://openejb.apache.org/examples-trunk/testing-security/README.html
Redirect permanent /3.0/lookup-of-other-ejbs-example.html       http://openejb.apache.org/examples-trunk/lookup-of-ejbs/README.html
Redirect permanent /3.0/embedded-and-remotable.html             http://openejb.apache.org/examples-trunk/telephone-stateful/README.html
Redirect permanent /3.0/unit-testing-transactions.html          http://openejb.apache.org/examples-trunk/testing-transactions/README.html
Redirect permanent /3.0/singleton-example.html                  http://openejb.apache.org/examples-trunk/simple-singleton/README.html
Redirect permanent /3.0/interceptor-example.html                http://openejb.apache.org/examples-trunk/interceptors/README.html


Redirect permanent /3.0/transaction-annotations.html http://openejb.apache.org/transaction-annotations.html
Redirect permanent /3.0/index.html http://openejb.apache.org/index.html
Redirect permanent /3.0/jndi-names.html http://openejb.apache.org/jndi-names.html
Redirect permanent /3.0/openjpa.html http://openejb.apache.org/openjpa.html
Redirect permanent /3.0/spring-ejb-and-jpa.html http://openejb.apache.org/spring-ejb-and-jpa.html
Redirect permanent /3.0/configuring-persistenceunits-in-tests.html http://openejb.apache.org/configuring-persistenceunits-in-tests.html
Redirect permanent /3.0/persistence-context.html http://openejb.apache.org/persistence-context.html
Redirect permanent /3.0/hibernate.html http://openejb.apache.org/hibernate.html
Redirect permanent /3.0/tomcat.html http://openejb.apache.org/tomcat.html
Redirect permanent /3.0/ejb-local-ref.html http://openejb.apache.org/ejb-local-ref.html
Redirect permanent /3.0/ejb-refs.html http://openejb.apache.org/ejb-refs.html
Redirect permanent /3.0/security-annotations.html http://openejb.apache.org/security-annotations.html
Redirect permanent /3.0/configuring-datasources.html http://openejb.apache.org/configuring-datasources.html
Redirect permanent /3.0/persistence-unit-ref.html http://openejb.apache.org/persistence-unit-ref.html
Redirect permanent /3.0/resource-injection.html http://openejb.apache.org/resource-injection.html
Redirect permanent /3.0/resource-ref-for-datasource.html http://openejb.apache.org/resource-ref-for-datasource.html
Redirect permanent /3.0/javaagent.html http://openejb.apache.org/javaagent.html
Redirect permanent /3.0/basics-getting-things.html http://openejb.apache.org/basics-getting-things.html
Redirect permanent /3.0/ejb-30-specification.html http://openejb.apache.org/ejb-30-specification.html
Redirect permanent /3.0/local-client-injection.html http://openejb.apache.org/local-client-injection.html
Redirect permanent /3.0/deploy-tool.html http://openejb.apache.org/deploy-tool.html
Redirect permanent /3.0/examples.html http://openejb.apache.org/examples.html
Redirect permanent /3.0/embedded-configuration.html http://openejb.apache.org/embedded-configuration.html
Redirect permanent /3.0/javaagent-with-maven-surefire.html http://openejb.apache.org/javaagent-with-maven-surefire.html
Redirect permanent /3.0/tomcat-detailed-instructions.html http://openejb.apache.org/tomcat-detailed-instructions.html
Redirect permanent /3.0/jms-resources-and-mdb-container.html http://openejb.apache.org/jms-resources-and-mdb-container.html
Redirect permanent /3.0/spring.html http://openejb.apache.org/spring.html
Redirect permanent /3.0/startup.html http://openejb.apache.org/startup.html
Redirect permanent /3.0/service-locator.html http://openejb.apache.org/service-locator.html
Redirect permanent /3.0/singleton-beans.html http://openejb.apache.org/singleton-beans.html
Redirect permanent /3.0/containers-and-resources.html http://openejb.apache.org/containers-and-resources.html
Redirect permanent /3.0/tomcat-ejb-refs.html http://openejb.apache.org/tomcat-ejb-refs.html
Redirect permanent /3.0/application-discovery-via-the-classpath.html http://openejb.apache.org/application-discovery-via-the-classpath.html
Redirect permanent /3.0/failover.html http://openejb.apache.org/ejb-failover.html
Redirect permanent /3.0/clients.html http://openejb.apache.org/clients.html
Redirect permanent /3.0/ejb-jpa-jsf-jax-rs.html http://openejb.apache.org/ejb-jpa-jsf-jax-rs.html
Redirect permanent /3.0/common-persistenceprovider-properties.html http://openejb.apache.org/common-persistenceprovider-properties.html
Redirect permanent /3.0/jpa-usage.html http://openejb.apache.org/jpa-usage.html
Redirect permanent /3.0/ejb-ref.html http://openejb.apache.org/ejb-ref.html
Redirect permanent /3.0/alternate-descriptors.html http://openejb.apache.org/alternate-descriptors.html
Redirect permanent /3.0/deployments.html http://openejb.apache.org/deployments.html
Redirect permanent /3.0/constructor-injection.html http://openejb.apache.org/constructor-injection.html
Redirect permanent /3.0/databases.html http://openejb.apache.org/databases.html
Redirect permanent /3.0/properties-tool.html http://openejb.apache.org/properties-tool.html
Redirect permanent /3.0/space-index.html http://openejb.apache.org/space-index.html
Redirect permanent /3.0/callbacks.html http://openejb.apache.org/callbacks.html
Redirect permanent /3.0/custom-injection.html http://openejb.apache.org/custom-injection.html
Redirect permanent /3.0/dynamic-datasource.html http://openejb.apache.org/dynamic-datasource.html
Redirect permanent /3.0/basics-security.html http://openejb.apache.org/basics-security.html
Redirect permanent /3.0/datasource-password-encryption.html http://openejb.apache.org/datasource-password-encryption.html
Redirect permanent /3.0/helloworld-weblogic.html http://openejb.apache.org/helloworld-weblogic.html
Redirect permanent /3.0/mdb-container.html http://openejb.apache.org/mdb-container.html
Redirect permanent /3.0/system-properties.html http://openejb.apache.org/system-properties.html
Redirect permanent /3.0/configuring-logging-in-tests.html http://openejb.apache.org/configuring-logging-in-tests.html
Redirect permanent /3.0/spring-and-openejb-30.html http://openejb.apache.org/spring-and-openejb-30.html
Redirect permanent /3.0/configuring-datasources-in-tests.html http://openejb.apache.org/configuring-datasources-in-tests.html
Redirect permanent /3.0/tomcat-installation.html http://openejb.apache.org/tomcat-installation.html
Redirect permanent /3.0/webapp-based-ejbs.html http://openejb.apache.org/webapp-based-ejbs.html
Redirect permanent /3.0/openejbxml.html http://openejb.apache.org/openejbxml.html
Redirect permanent /3.0/security.html http://openejb.apache.org/security.html
Redirect permanent /3.0/understanding-callbacks.html http://openejb.apache.org/understanding-callbacks.html
Redirect permanent /3.0/annotations-xml-and-defaults.html http://openejb.apache.org/annotations-xml-and-defaults.html
Redirect permanent /3.0/manual-installation.html http://openejb.apache.org/manual-installation.html
Redirect permanent /3.0/common-datasource-configurations.html http://openejb.apache.org/common-datasource-configurations.html
Redirect permanent /3.0/getting-started.html http://openejb.apache.org/getting-started.html
Redirect permanent /3.0/configuring-javamail.html http://openejb.apache.org/configuring-javamail.html
Redirect permanent /3.0/restful-web-service-with-openejb-jersey-junit-maven-mysql-and-tomcat.html http://openejb.apache.org/restful-web-service-with-openejb-jersey-junit-maven-mysql-and-tomcat.html
Redirect permanent /3.0/testcase-with-testbean-inner-class.html http://openejb.apache.org/testcase-with-testbean-inner-class.html
Redirect permanent /3.0/basics-transactions.html http://openejb.apache.org/basics-transactions.html
Redirect permanent /3.0/design-application-server.html http://openejb.apache.org/design-application-server.html
Redirect permanent /3.0/understanding-the-directory-layout.html http://openejb.apache.org/understanding-the-directory-layout.html
Redirect permanent /3.0/design-container.html http://openejb.apache.org/design-container.html
Redirect permanent /3.0/openejb-per-tomcat-installation.html http://openejb.apache.org/openejb-per-tomcat-installation.html
Redirect permanent /3.0/client-server-transports.html http://openejb.apache.org/client-server-transports.html
Redirect permanent /3.0/property-overriding.html http://openejb.apache.org/property-overriding.html
Redirect permanent /3.0/configuring-containers-in-tests.html http://openejb.apache.org/configuring-containers-in-tests.html
Redirect permanent /3.0/design-assembler.html http://openejb.apache.org/design-assembler.html
Redirect permanent /3.0/design-configuration-factory.html http://openejb.apache.org/design-configuration-factory.html
Redirect permanent /3.0/ejb-servlet.html http://openejb.apache.org/ejb-servlet.html
Redirect permanent /3.0/collapsed-ear-on-linux.html http://openejb.apache.org/collapsed-ear-on-linux.html
Redirect permanent /3.0/app-clients-and-jndi.html http://openejb.apache.org/app-clients-and-jndi.html
Redirect permanent /3.0/built-in-type-converters.html http://openejb.apache.org/built-in-type-converters.html
Redirect permanent /3.0/configuring-durations.html http://openejb.apache.org/configuring-durations.html
Redirect permanent /3.0/design-classic-assembler.html http://openejb.apache.org/design-classic-assembler.html
Redirect permanent /3.0/design-random-access-file-passivater.html http://openejb.apache.org/design-random-access-file-passivater.html
Redirect permanent /3.0/users-guide.html http://openejb.apache.org/users-guide.html
Redirect permanent /3.0/configuration-properties.html http://openejb.apache.org/configuration-properties.html
Redirect permanent /3.0/design-cmp-entitybean-container.html http://openejb.apache.org/design-cmp-entitybean-container.html
Redirect permanent /3.0/design-passivation-strategy.html http://openejb.apache.org/design-passivation-strategy.html
Redirect permanent /3.0/design-transaction-service.html http://openejb.apache.org/design-transaction-service.html
Redirect permanent /3.0/hello-world.html http://openejb.apache.org/hello-world.html
Redirect permanent /3.0/online-javadocs.html http://openejb.apache.org/online-javadocs.html
Redirect permanent /3.0/design-bmp-entitybean-container.html http://openejb.apache.org/design-bmp-entitybean-container.html
Redirect permanent /3.0/design-nova-configuration-factory.html http://openejb.apache.org/design-nova-configuration-factory.html
Redirect permanent /3.0/design-resource-manager.html http://openejb.apache.org/design-resource-manager.html
Redirect permanent /3.0/design-simple-passivater.html http://openejb.apache.org/design-simple-passivater.html
Redirect permanent /3.0/design-stateless-sessionbean-container.html http://openejb.apache.org/design-stateless-sessionbean-container.html
Redirect permanent /3.0/design.html http://openejb.apache.org/design.html
Redirect permanent /3.0/documentation.html http://openejb.apache.org/documentation.html
Redirect permanent /3.0/embedding.html http://openejb.apache.org/embedding.html
Redirect permanent /3.0/introduction-to-the-command-line-tools.html http://openejb.apache.org/introduction-to-the-command-line-tools.html
