/* by le Studio Atos Worldline */
/**** Date: october 2011 ****/
/**** openEJB project *********/

/* RESET ---------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td,header{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}
.invisible{ display: none;}
.right {float: right}
.left {float: left}
.center {text-align: center}
.error {color: red}
.bold {font-weight: bold}

/* Prise en charge de HTML 5 */
header, section, footer, aside, nav, article, figure {display: block;}

/* Generique */
/*************/
body {
	font: 101%/1.2 Arial, Verdana, Helvetica, sans-serif;
	background: #F6F6F5;
	margin: 0;
	padding: 0;
	color: #525252;
	
}

h1 {float: right; width: 148px; height: 42px; margin: 16px 8px 5px 10px;}
h1 a img {border: none;}

h3 {font-size: 18px; margin-bottom: 10px;}


a {text-decoration: none; color: #9d7d1d;}
a:visited {text-decoration: none;}
a:hover, a:active, a:focus { text-decoration: underline;}



/* Structure */
body > * {
	width: 585px;
	margin: 0 auto;
}

/* HEADER --------------------------------------------------------------------*/
body > header {
	height: 62px;
	width: 100%;
	background: #E8E8E8;
  position: relative;
}

body > header > h1 {
	display: block;
	background: transparent url(../image/logo_apache.png) no-repeat;
    height: 42px;
}
body > header form {
  float: right;
  margin: 20px 155px 0 0;
}
body > header form input[type="text"]
{
  border: 1px solid #d33603;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-right: 20px;
	margin-right: -15px;
}
body > header form input[type="submit"]
{
  background: #FFF;
  color: #d33603;
  border: 1px solid #d33603;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 5px;
}
/* NAVIGATION ----------------------------------------------------------------*/
nav {
position: absolute;
  width: 193px;
  margin-left: 20px;
  background: url(../image/bg_nav.png) repeat-y 5px 0;
  padding-bottom: 20px;
  }
header nav h2 {
	display: block;
	background: transparent url(../image/logo_openEJB.png) no-repeat;
    height: 130px;
    width: 193px;
}
  nav h3{
  font-size: 16px;
  padding-left: 20px;
  margin: 0;
  }
 nav hr {
  color: #bcbdac;
  background-color: #e7e7e2;
  margin: 5px 15px;
}
nav ul {
  list-style: none;
  padding-left: 5px;
 }
nav ul li {font-size: 12px;}
nav ul a, nav ul a:visited {
	padding: 1px 5px;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	color: #5D5D5D;
}
nav ul a:hover,
nav ul a:active,
nav ul a:focus {text-decoration:underline}
nav ul a.active {
  width: 163px;
  color: #d33603;
  background: url(../image/bg_active_link.png) repeat-x 0 10px;
  padding: 1px 0;
}
nav ul a.active em {
  background: #eeede9;
  padding: 1px 10px 1px 5px;
  font-style: normal;
}
nav ul a.feed {
  width: 163px;
  background: url(../image/pct_rss.png) no-repeat 5px 2px;
  padding: 1px 0 1px 33px;
}
/* MAIN ----------------------------------------------------------------------*/
section.main {
	overflow: hidden;
	width: 100%;
}

section.main h2 {
  color: #5D5D5D;
  font-size: 20px;
  text-align: center;
  width: 100px;
}

/*  ----------------------------------------------------------------*/

section.main > section, section.main > article {
	width: 100%;
	margin: 10px auto;
	padding: 10px;
}

section.main > section, section.main > article.aside {
	width: 80%;
	margin: 10px 0 10px 225px;
	padding: 10px;
}

/* SIDE BLOCK ----------------------------------------------------------------*/
aside {
	float: right;
	width: 265px;
	margin: 0 10px;
}
.self {/*margin-top: 140px;*/}
aside section {
  margin: 0 0 20px 0;
	padding: 10px 10px 20px 10px;
	background: #f1f0f0;
	-moz-box-shadow:  0 4px 4px #b7aea5;
	-webkit-box-shadow:  0 4px 4px #b7aea5;
	box-shadow:  0 4px 4px #b7aea5;
}
aside section.facebook {
  background: url(../image/h3_facebook.png)  no-repeat 0 0;
}
aside section.facebook iframe {
  border:none; 
  width:190px; 
  height:50px;
}
aside section.facebook p {
 margin-top: 20px;
}
aside section.facebook p img {
  vertical-align: top;
  }
aside section ul {padding: 10px;}

aside section p {padding: 3px 0;}
aside nav ul li {
	display: block;
	margin: 3px 0 3px 5px;
	font-size: 13px;
	color: #655c53;
	background: transparent;
}
aside nav ul li a, aside nav ul li a:visited {
	color: #655c53;
	font-size: 13px;
	padding: 3px 5px;
	display: block;
}
aside nav ul li a:hover, aside nav ul li a:active, aside nav ul li a:focus {
  text-decoration: underline;
}

aside h3 {
    border-bottom: 1px solid #d33603;
    font-size: 14px;
}

aside h3.facebook {
    display: none;
    
}
aside h4 {
	font-size: 14px;
	font-weight: bold;
	color: #575757;
	background: #f1f0f0;
	margin: 0 0 10px 0;
	padding: 5px 10px;
}

/******************** all sections ******************************/

section.main > article > section {
  width: 100%;
	margin: 0 0 10px 0;
	padding: 10px;

}
section.main > article > div > section {
  width: 760px;
	margin: 0 0 10px 0;
	padding: 10px;
}

section.main > article > div > section h3 {
  width: 760px;
	margin: 0 0 10px 0;
	padding: 5px 0px 7px 0;
	background: url(../image/bg_h3.png) repeat-x 0 30px;
	font-size: 24px;
	font-style: normal;
}
section.main > article > div > section h4 {
  width: 760px;
	margin: 0 0 10px 0;
	padding: 5px 0px 7px 0;
	font-size: 18px;
}
section h3 span {
	padding: 3px 0;
	color: #5D5D5D;
	
}
section p {
  font-size: 12px;
  color: #655c53;
  padding: 7px 0;
  vertical-align: middle;
}
section p.date {
  color: #9d7d1d;
  padding: 7px 0 10px 35px;
  background: url(../image/picto_calendar.png) no-repeat 0 0;
  
}
section p.highlight {
  color: #9d7d1d;
  font-weight: bold;  
}
section p em {
  color: #5D5D5D;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
}
section p span.avatar {
  padding: 2px 0 2px 22px;
  background: url(../image/picto_avatar.png) no-repeat 0 0;
}
section p span.comment {
  padding: 2px 0 2px 22px;
  background: url(../image/picto_comment.png) no-repeat 0 0;
}

section ul {
  padding-left: 10px;

}
section ul li {
  font-size: 12px;
  background-image: url(../image/bg_list.png);
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 16px;
}

/* CONTENT BLOCK -------------------------------------------------------------*/

/* FOOTER --------------------------------------------------------------------*/



/* !!!SPECIFIC CONTENTS!!! -------------------------------------------------- */
/*  ------------------------------------------------------------*/